
[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=denis
Group=denis
WorkingDirectory=/home/denis/First-repository/
Environment="PYTHONPATH=/home/denis/First-repository/"
ExecStart=/home/denis/First-repository/First-repository/.venv/bin/python /home/denis/First-repository/First-repository/Telegram_bot.py
    
[Install]
WantedBy=multi-user.target